<p>
edit works!
</p>

<p>List</p>
<div *ngFor = "let isidata of datadariglob">
  {{isidata.jurusan}} - {{isidata.desk}}
</div>
<br>

<div>
  <input [(ngModel)] = 'namajurusan' type="text" placeholder='Nama Jurusan di list' style= "width:250px"> <br><br>
  <input [(ngModel)] = 'deskripsijurusan' type="text" placeholder='Penjelasan baru' style= "width:250px"> <br><br>
  <button (click)="submitchange()" >Submit Change</button>
</div>

<div *ngIf="done">
  <p>Edit berhasil</p>
</div>